<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<div class="py-2 text-center encabezado">
		<img class="d-block mx-auto mb-4 img-encabezado"
			data-th-src="@{/images/fce-logo-sinfondo.png}" alt="logo-fce" />
		<h2>Facultad de Ciencias Ecónimicas</h2>
	</div>
	<div class="container">
		<main>
			<div class="row g-5">
				<div class="col-md-5 col-lg-4 order-md-last">
					<aside data-th-replace="~{/layouts/aside :: aside}"></aside>
				</div>
				<!--FORMULARIO-->
				<div
					class="col-md-5 col-lg-8 border border-light-subtle rounded-3 bg-body-secondary form">
					<h4 class="mb-3">FORMULARIO CARRERA</h4>
					<h3 data-th-text="${edicion}?'Modificar Carrera':'Nueva Carrera'"></h3>
					<form class="needs-validation" novalidate id="carrerasForm"
						th:action="@{${edicion} ? '/carreras/modificar' : '/carreras/guardar'}" th:object="${carrera}"
						method="post">
						<div class="row g-3">
							<div class="col-12">
								<label for="codigoCarrera" class="form-label">Codigo</label> <input
									type="number" class="form-control" id="codigoCarrera"
									th:field="*{codigoCarrera}" required />
							</div>

							<div class="col-sm-12">
								<label for="nombreCarrera" class="form-label">Nombre</label> <input
									type="text" class="form-control" id="nombreCarrera"
									th:field="*{nombreCarrera}" required />
							</div>

							<div class="col-12">
								<label for="cantidadAniosCarrera" class="form-label">Años</label> <input
									type="number" class="form-control" id="cantidadAniosCarrera"
									th:field="*{cantidadAniosCarrera}" required />
							</div>

							    <div class="col-12" >
                                <label for="estadoCarrera">Estado</label> 
                                <select id="estadoCarrera" class="form-control" th:field="*{estadoCarrera}">
                                    <option value="" selected>Seleccione una opción</option>
                                    <option th:value="'Activa'" th:text="'Activa'"></option>
                                    <option th:value="'Inactiva'" th:text="'Inactiva'"></option>
                                </select>
                            </div>

							<hr class="my-4" />
							<div class="col-6 container-fluid">
								<button class="w-100 btn btn-success btn-lg" type="submit">
									Guardar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
	</div>

	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

	<script type="text/javascript"
		data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>