<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<div class="container">
		<header data-th-replace="~{/layouts/header :: header}"></header>
		<div class="nav-scroller py-1 mb-3 border-bottom border-top">
			<nav data-th-replace="~{/layouts/header :: nav}"></nav>
		</div>
	</div>
	<main class="container">
		<div
			class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
			<img id="imgMain" alt="fce-65aniversario"
				data-th-src="@{../images/fce-65aniversario.png}">
			<div class="col-lg-9 px-0">
				<h1 class="display-4 fst-italic">Facutad de Ciencias Económicas
					65 años junto a vos.</h1>
				<p class="lead my-3">En el acontecer de nuestra vida conviene de
					cuando en cuando hacer un alto para recapacitar o para aquilatar lo
					vivido o para echar una mirada sobre el camino que recorrimos. Esa
					reflexión es valiosa porque nos permite recobrar fuerzas para
					seguir, enmendar errores, justipreciar valores o en fin, ver si se
					cumplieron las metas trazadas otrora. A este proceso reflexivo nos
					obliga sin lugar a dudas el festejo que hoy nos convoca haciendo
					posible el reencuentro con hechos, circunstancias y personas que
					lograron que esta Casa sea una realidad auténtica dentro del
					quehacer cultural de Jujuy.</p>
				<p class="lead mb-0">
					<a href="https://www.fce.unju.edu.ar/node/264" target="_blank"
						class="text-body-emphasis fw-bold">Continuar leyendo...</a>
				</p>
			</div>
		</div>

		<div class="row mb-2">
			<div class="col-md-6">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">INSCRIPCIÓN AL TALLER DE ÉTICA PROFESIONAL</h3>
						<div class="mb-1 text-body-secondary">28 de Mayo</div>
						<p class="card-text mb-auto">Se otorgarán horas de formación
							práctica para los estudiantes de la FCE.</p>
						<a href="https://www.fce.unju.edu.ar/node/1413" target="_blank"
							class="icon-link gap-1 icon-link-hover stretched-link">
							Continuar leyendo </a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<img class="imgCursos" alt="taller-1" data-th-src="@{../images/curso1.jpeg}">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">INSCRIPCIÓN AL TALLER LA INTERVENCIÓN EN LA
							ACTUACIÓN JUDICIAL</h3>
						<div class="mb-1 text-body-secondary">28 de Mayo</div>
						<p class="mb-auto">Se otorgarán horas de formación práctica
							para los estudiantes de la FCE.</p>
						<a href="https://www.fce.unju.edu.ar/node/1412" target="_blank"
							class="icon-link gap-1 icon-link-hover stretched-link">
							Continuar leyendo </a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<img class="imgCursos" alt="taller-1" data-th-src="@{../images/curso2.jpeg}">
					</div>
				</div>
			</div>
		</div>

		<div class="row g-5">
			<div class="col-md-8">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">Oferta Académica
				</h3>
				<article class="blog-post border-bottom">
					<h2 class="display-5 link-body-emphasis mb-1">CONTADOR PUBLICO</h2>
					<p class="blog-post-meta">Viernes, Mayo 17, 2019</p>

					<p>La Facultad de Ciencias Económicas de la UNJu comunica a sus
						Docentes, Alumnos, No Docentes, Egresados y a la comunidad en
						general que el Plan de Estudios 2019 de la Carrera de Contador
						Público, fue aprobado por Res. CS 0289/2018 el 24 de octubre de
						este año, y se implementará a partir del Ciclo Lectivo 2019.</p>
					<blockquote>
						<p>Este Plan de Estudios consideró los requerimientos en
							cuanto a Contenidos Curriculares Básicos, Carga Horaria Mínima y
							los Criterios de Intensidad de la Formación Práctica tal como se
							fijaron dentro los estándares de la Res ME 3400/17, en el Marco
							del Proceso de Acreditación de las Carreras de Contador Público
							de todo el país.</p>
					</blockquote>
					<h3>Video Explicativo</h3>
					<iframe class="videoCarreras" width="560" height="315"
						src="https://www.youtube.com/embed/9tmtW-7_5wc?si=wPmwkaFySTrvV4xc"
						title="YouTube video player"></iframe>
				</article>

				<article class="blog-post border-bottom planEstudio">
					<h2 class="display-5 link-body-emphasis mb-1">LICENCIADO/A EN
						ECONOMÍA POLÍTICA</h2>
					<p class="blog-post-meta">Jueves, Mayo 2, 2019</p>
					<h3>Alcances del título</h3>
					<ul>
						<li>Integrar equipos interdisciplinarios de investigación.</li>
						<li>Diseñar e implementar proyectos de investigación
							científica en el campo de la economía política.</li>
						<li>Coordinar equipos de trabajo interdisciplinarios en el
							campo de la economía política.</li>
						<li>Asesorar planes, programas y proyectos para intervenir en
							la realidad económico social micro como Macro.</li>
						<li>Dirigir personal técnico en organizaciones públicas y
							privadas.</li>
						<li>Gestionar organizaciones estatales, privadas y sociales.</li>
						<li>Participar en equipos de trabajos en áreas productivas,
							comerciales, financieras, en ámbitos públicos y privados.</li>
						<li>Evaluar y asesorar proyectos de investigación de la
							economía política local, nacional, regional e internacional.</li>
					</ul>
					<p>La Facultad de Ciencias Económicas de la UNJu comunica a sus
						Docentes, Alumnos, No Docentes, Egresados y a la comunidad en
						general que el Plan de Estudios 2019 de la Carrera de Contador
						Público, fue aprobado por Res. CS 0289/2018 el 24 de octubre de
						este año, y se implementará a partir del Ciclo Lectivo 2019.</p>
					<blockquote>
						<p>Este Plan de Estudios consideró los requerimientos en
							cuanto a Contenidos Curriculares Básicos, Carga Horaria Mínima y
							los Criterios de Intensidad de la Formación Práctica tal como se
							fijaron dentro los estándares de la Res ME 3400/17, en el Marco
							del Proceso de Acreditación de las Carreras de Contador Público
							de todo el país.</p>
					</blockquote>
					<h3>Plan de estudios</h3>
					<a
						href="https://drive.google.com/file/d/1jifxYipdyYRtADyLxBw6kKjnzUsvC3Qu/view?usp=drive_link"
						target="_blank"><img alt="planEstudioEconomiaPolitica"
						data-th-src="@{/images/LEP.gif}"></a>
				</article>

				<article class="blog-post border-bottom planEstudio">
					<h2 class="display-5 link-body-emphasis mb-1">LIC. EN
						ADMINISTRACIÓN</h2>
					<p class="blog-post-meta">Jueves, Mayo 2, 2019</p>

					<p>En el Plan 2000, se ha realizado un marcado esfuerzo de
						compatibilización entre el objetivo de lograr un graduado con
						mayor formación y alto adiestramiento práctico, en las asignaturas
						específicas de cada una de las carreras, y la necesidad de contar
						con profesionales que no solamente posean una intensiva formación
						técnica que lo capacite para "resolver los problemas", sino
						también, suficientes conocimientos teóricos, con los cuales puedan
						"pensar los problemas", a la vez que adquieran educación adecuada
						en una aproximación a las ciencias formales y fácticas, sociales y
						humanas, y a otras formas de conocimiento que facilite nuevas
						orientaciones laborales. En el Plan 2000, se ha realizado un
						marcado esfuerzo de compatibilización entre el objetivo de lograr
						un graduado con mayor formación y alto adiestramiento práctico, en
						las asignaturas específicas de cada una de las carreras, y la
						necesidad de contar con profesionales que no solamente posean una
						intensiva formación técnica que lo capacite para "resolver los
						problemas", sino también, suficientes conocimientos teóricos, con
						los cuales puedan "pensar los problemas", a la vez que adquieran
						educación adecuada en una aproximación a las ciencias formales y
						fácticas, sociales y humanas, y a otras formas de conocimiento que
						facilite nuevas orientaciones laborales. Para lograr estos
						objetivos se Proponen transformaciones pedagógicas en los procesos
						de enseñanza, aprendizaje y evaluación.</p>
					<blockquote>
						<p>En general, la modalidad de enseñanza será menos intensiva
							sociales, mientras que el aprendizaje será más intensivo en horas
							de estudio</p>
					</blockquote>
					<h3>Plan de estudios</h3>
					<a
						href="https://drive.google.com/file/d/1krAzuIiTNR2zpGF0AknHVpIYwsaenGxf/view?usp=drive_link"
						target="_blank"><img alt="planEstudioEconomiaPolitica"
						data-th-src="@{/images/administracion.jpg}"></a>
				</article>
			</div>

			<div class="col-md-4">
				<aside data-th-replace="~{/layouts/aside :: aside}"></aside>
			</div>
		</div>
	</main>

	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

	<script type="text/javascript"
		data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>